<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Tasks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/task/create']">New task</a>
          </li>
        </ul>

        <form class="d-flex me-4" #searchForm="ngForm" *ngIf="identity">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searching" #searching="ngModel" [(ngModel)]="search">
          <button class="btn btn-main" type="submit" (click)="goSearch()">Search</button>
        </form>

        <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/register']">Register</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right" *ngIf="identity">
          <li class="nav-item" *ngIf="identity">
            <div class="avatar_mask">
              <img src="{{ url + 'user/avatar/' + identity.image }}" alt="avatar" class="avatar_nav" *ngIf="identity.image">
              <img src="assets/img/user.png" alt="user" *ngIf="!identity.image">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ identity.name + ' ' + identity.surname }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/settings']">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/logout/1']">Sign out</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="foreground">
    <router-outlet></router-outlet>
  </div>

</div>
